<div class="md_1"></div>
<div id="posts_panel">
<table>
	
<% @posts.each do |post| %>
  <tr>
  	<% if post.excerpt_image%>
  	<td><%= link_to image_tag(post.excerpt_image.url(:thumbs)), adult_post_path(post) %></td>	
  	<%end%>
    <td><%= post.content %></td>
    <td><%= post.posted_time %><br/><%= post.user.username %></td>
  </tr>
<% end %>

</table>
</div>
<%= link_to "發表新文章" , new_post_path %>